/*-------------------------------------
| index.php CSS
-------------------------------------*/
.logoHeader {
	width: 100%;
	background-color: #261104;
	height: 75px;
	text-align: center;
}

.logoHeader img {
	padding-top: 1.5%;
}

.titles img {
	display: block;
	margin: auto;
	border-radius: 100%;
	padding: 10px;
	margin-top: 2.5em;
}

/*-------------------------------------
| webDevelopment.php CSS
-------------------------------------*/
html, body{
  height: 100%;
}

.parallaxWeb {
   /* The image used */
   background-image: url("../img/BG_1.jpg");
   opacity: 1;

   height: 100%;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}

.parallaxDesign {
   /* The image used */
   background-image: url("../img/bg_image1.jpg");
   opacity: 1;

   height: 100%;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}






/* Pinterest Grid Layout CSS--------------------*/
@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
	background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#columns {
	column-width: 270px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
	margin-left: 9%;
	margin-left: 9%;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.6;
}

@media screen and (max-width: 400px) {
  #columns { column-gap: 0px;}
  #columns figure {
    /*width: 80% ;
    margin-left: 7% ;*/

  }
}

@media screen and (max-width: 631px) {
#columns { margin-left: 5% !important;}
  #columns figure {
	  /*margin-left: 0em !important;*/
	  /*margin-right: 3em !important;*/
	  text-align: center;
  }
}

@media screen and (max-width: 750px) {
  /*#columns { column-gap: 0px; }*/
  #columns figure { width: 100%; }
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}